body {
    margin: 0;
    line-height: 1.6;
    /*font-size: 18px;*/
    font-size: 1.1rem;
    color: #444;
    /*background: linear-gradient(to bottom, teal 1rem, #EEEEEE 1rem);*/
    background: #f8f8f8;
    min-height: 100vh;
    font-family: 'Source Serif Pro', serif;
}

.wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding: 2rem 10px;
}
h1 {
    border-bottom: 1px dashed;
}
h1,h2,h3 {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.2em;
    padding-left: 2.5rem;
}

ol, table, p, ul, h1,h2,h3, h4,h5,h6{
    padding: 0 2.5rem;
}

table {
    padding: 0 2.5rem;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

a {
    color: #2c8093;
}

pre {
    background: #f5f5f5;
}
.task-list-item {
    margin-left: calc(-.25ch); /* to account for the space added in text*/
}

/*footer a:first-child {
    padding-left: 2.5rem;
}*/
footer a {
    text-decoration: none;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
}